*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ref: https://betterprogramming.pub/exploring-the-idea-folder-790931c19191
/.idea/misc.xml
/.idea/deploymentTargetDropDown.xml